<a href="https://colab.research.google.com/github/bsong75/brendensong.github.io/blob/main/5_a_WebScrape_IMDB250.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import requests  
r = requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

In [43]:
from bs4 import BeautifulSoup  
soup = BeautifulSoup(r.text, 'html.parser')

In [58]:
results = soup.find_all('tr')

In [59]:
len(results)

251

In [63]:
first_result=results[1]
first_result

<tr>
<td class="posterColumn">
<span data-value="1" name="rk"></span>
<span data-value="9.222888944091787" name="ir"></span>
<span data-value="7.791552E11" name="us"></span>
<span data-value="2314321" name="nv"></span>
<span data-value="-1.7771110559082128" name="ur"></span>
<a href="/title/tt0111161/"> <img alt="The Shawshank Redemption" height="67" src="https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45"/>
</a> </td>
<td class="titleColumn">
      1.
      <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
<span class="secondaryInfo">(1994)</span>
</td>
<td class="ratingColumn imdbRating">
<strong title="9.2 based on 2,314,321 user ratings">9.2</strong>
</td>
<td class="ratingColumn">
<div class="seen-widget seen-widget-tt0111161 pending" data-titleid="tt0111161">
<div class="boundary">
<div class="popover">
<span class="delete">Â </span><ol><li>1<li>2<li>3<li>4<li>5<li>6<li>7<li>8<li>9<li>10</li></li></li></li></li></li></li></li></li></li></ol> </div>
</div>
<div class="inline">
<div class="pending"></div>
<div class="unseeable">NOT YET RELEASED</div>
<div class="unseen"> </div>
<div class="rating"></div>
<div class="seen">Seen</div>
</div>
</div>
</td>
<td class="watchlistColumn">
<div class="wlb_ribbon" data-recordmetrics="true" data-tconst="tt0111161"></div>
</td>
</tr>

In [74]:
first_result.find_all('a')[1].text

'The Shawshank Redemption'

In [77]:
first_result.find_all('strong')[0].text

'9.2'

In [82]:
first_result.find_all('span')[5].text[1:-1]

'1994'

In [131]:
first_result.find('a')['href']

'/title/tt0111161/'

In [159]:
first_result.find('span')['data-value']

'1'

In [135]:
results=results[1:251]

In [160]:
movies = []  
for movie in results:  
    name = movie.find_all('a')[1].text
    ranking = movie.find('span')['data-value']
    rating = movie.find_all('strong')[0].text
    year = movie.find_all('span')[5].text[1:-1]
    url = movie.find('a')['href']
    movies.append((name, ranking, rating, year, url))

In [161]:
len(movies)

250

In [162]:
movies[0:3]

[('The Shawshank Redemption', '1', '9.2', '1994', '/title/tt0111161/'),
 ('The Godfather', '2', '9.1', '1972', '/title/tt0068646/'),
 ('The Godfather: Part II', '3', '9.0', '1974', '/title/tt0071562/')]

# EXPORTING THE FILE TO CSV  (Applying a tabular data structure)

In [164]:
import pandas as pd  
df = pd.DataFrame(movies, columns=['Movie_Name', 'Movie_Rating', 'IMDB_Rating', 'Year', 'url'])

In [165]:
df.head()

                 Movie_Name Movie_Rating IMDB_Rating  Year                url
0  The Shawshank Redemption            1         9.2  1994  /title/tt0111161/
1             The Godfather            2         9.1  1972  /title/tt0068646/
2    The Godfather: Part II            3         9.0  1974  /title/tt0071562/
3           The Dark Knight            4         9.0  2008  /title/tt0468569/
4              12 Angry Men            5         8.9  1957  /title/tt0050083/

In [166]:
df.tail()

                    Movie_Name Movie_Rating  ...  Year                url
245      The Battle of Algiers          246  ...  1966  /title/tt0058946/
246                 Tangerines          247  ...  2013  /title/tt2991224/
247                 The Circus          248  ...  1928  /title/tt0018773/
248             The Terminator          249  ...  1984  /title/tt0088247/
249  A Silent Voice: The Movie          250  ...  2016  /title/tt5323662/

[5 rows x 5 columns]

In [167]:
df.to_csv('imdb.csv', index=False, encoding='utf-8')