<a href="https://colab.research.google.com/github/bsong75/brendensong.github.io/blob/main/9.d.Keras_Titanic_Survability%20prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from random import randint
from sklearn.utils import shuffle
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv('/content/drive/MyDrive/csv/train.csv')

In [3]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [5]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
df.duplicated().sum()

0

In [ ]:
#General obesrvation and Plan to prepare the dataset for Deep Learning
#1. Drop columns that will not be helpful for predicting surviabilty.PassengerID, Name, Parch, Cabin, Ticket
#2. Convert the object into categorical values--Sex, Embarked
#3. Checked for duplicated values and check for null
#4. impute the values to KNNImputer  
#4. Change to numpy arrays and then normalize

In [7]:
df.drop(['PassengerId', 'Name', 'Parch', 'Ticket'], axis=1, inplace=True)

In [8]:
df.drop(['Cabin', 'Age'], axis=1, inplace=True)

In [9]:
df.shape

(891, 6)

In [10]:
df.head(3)

   Survived  Pclass     Sex  SibSp     Fare Embarked
0         0       3    male      1   7.2500        S
1         1       1  female      1  71.2833        C
2         1       3  female      0   7.9250        S

In [11]:
df2=pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

In [12]:
df2.shape

(891, 7)

In [13]:
df2.head(3)

   Survived  Pclass  SibSp     Fare  Sex_male  Embarked_Q  Embarked_S
0         0       3      1   7.2500         1           0           1
1         1       1      1  71.2833         0           0           0
2         1       3      0   7.9250         0           0           1

In [ ]:
#I need to divide it y and X
#change it to np.array

In [14]:
y=df2['Survived']

In [15]:
X=df2.drop(['Survived'], axis=1)

In [16]:
type(X)

pandas.core.frame.DataFrame

In [17]:
y_array=np.array(y)
X_array=np.array(X)

In [18]:
#2. Build the model
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy

In [19]:
# define the keras model
model = Sequential()
model.add(Dense(12, input_dim=6, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [26]:
# fit the keras model on the dataset
model.fit(X_array, y, epochs=30, batch_size=10, validation_split=0.2, verbose=2)

Epoch 1/30
72/72 - 0s - loss: 0.4914 - accuracy: 0.7879 - val_loss: 0.4563 - val_accuracy: 0.8156
Epoch 2/30
72/72 - 0s - loss: 0.4941 - accuracy: 0.7865 - val_loss: 0.4382 - val_accuracy: 0.8212
Epoch 3/30
72/72 - 0s - loss: 0.4922 - accuracy: 0.7795 - val_loss: 0.4247 - val_accuracy: 0.8045
Epoch 4/30
72/72 - 0s - loss: 0.4972 - accuracy: 0.7739 - val_loss: 0.4359 - val_accuracy: 0.8156
Epoch 5/30
72/72 - 0s - loss: 0.4869 - accuracy: 0.7865 - val_loss: 0.4402 - val_accuracy: 0.8156
Epoch 6/30
72/72 - 0s - loss: 0.4926 - accuracy: 0.7781 - val_loss: 0.4486 - val_accuracy: 0.8101
Epoch 7/30
72/72 - 0s - loss: 0.5007 - accuracy: 0.7654 - val_loss: 0.4273 - val_accuracy: 0.8268
Epoch 8/30
72/72 - 0s - loss: 0.4932 - accuracy: 0.7781 - val_loss: 0.4317 - val_accuracy: 0.7989
Epoch 9/30
72/72 - 0s - loss: 0.4989 - accuracy: 0.7739 - val_loss: 0.4224 - val_accuracy: 0.8156
Epoch 10/30
72/72 - 0s - loss: 0.4963 - accuracy: 0.7865 - val_loss: 0.4291 - val_accuracy: 0.8212
Epoch 11/30
72/72 - 0s - loss: 0.4942 - accuracy: 0.7809 - val_loss: 0.4246 - val_accuracy: 0.8101
Epoch 12/30
72/72 - 0s - loss: 0.4993 - accuracy: 0.7725 - val_loss: 0.4768 - val_accuracy: 0.8045
Epoch 13/30
72/72 - 0s - loss: 0.4975 - accuracy: 0.7767 - val_loss: 0.4267 - val_accuracy: 0.8156
Epoch 14/30
72/72 - 0s - loss: 0.4876 - accuracy: 0.7851 - val_loss: 0.4309 - val_accuracy: 0.8212
Epoch 15/30
72/72 - 0s - loss: 0.4843 - accuracy: 0.7795 - val_loss: 0.4319 - val_accuracy: 0.7989
Epoch 16/30
72/72 - 0s - loss: 0.4839 - accuracy: 0.7767 - val_loss: 0.4812 - val_accuracy: 0.8045
Epoch 17/30
72/72 - 0s - loss: 0.4826 - accuracy: 0.7795 - val_loss: 0.4756 - val_accuracy: 0.8045
Epoch 18/30
72/72 - 0s - loss: 0.4764 - accuracy: 0.7907 - val_loss: 0.4203 - val_accuracy: 0.8045
Epoch 19/30
72/72 - 0s - loss: 0.4853 - accuracy: 0.7865 - val_loss: 0.4213 - val_accuracy: 0.8212
Epoch 20/30
72/72 - 0s - loss: 0.4872 - accuracy: 0.7823 - val_loss: 0.4267 - val_accuracy: 0.8212
Epoch 21/30
72/72 - 0s - loss: 0.4893 - accuracy: 0.7809 - val_loss: 0.4419 - val_accuracy: 0.8101
Epoch 22/30
72/72 - 0s - loss: 0.4921 - accuracy: 0.7879 - val_loss: 0.4263 - val_accuracy: 0.8156
Epoch 23/30
72/72 - 0s - loss: 0.4764 - accuracy: 0.7865 - val_loss: 0.4583 - val_accuracy: 0.8101
Epoch 24/30
72/72 - 0s - loss: 0.5084 - accuracy: 0.7725 - val_loss: 0.4333 - val_accuracy: 0.8101
Epoch 25/30
72/72 - 0s - loss: 0.5238 - accuracy: 0.7528 - val_loss: 0.4172 - val_accuracy: 0.8045
Epoch 26/30
72/72 - 0s - loss: 0.4989 - accuracy: 0.7795 - val_loss: 0.4199 - val_accuracy: 0.8045
Epoch 27/30
72/72 - 0s - loss: 0.5047 - accuracy: 0.7683 - val_loss: 0.4143 - val_accuracy: 0.8212
Epoch 28/30
72/72 - 0s - loss: 0.4833 - accuracy: 0.7823 - val_loss: 0.4189 - val_accuracy: 0.8045
Epoch 29/30
72/72 - 0s - loss: 0.5033 - accuracy: 0.7753 - val_loss: 0.4309 - val_accuracy: 0.8045
Epoch 30/30
72/72 - 0s - loss: 0.4854 - accuracy: 0.7767 - val_loss: 0.4205 - val_accuracy: 0.8156

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                84
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 104
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 197
Trainable params: 197
Non-trainable params: 0
_________________________________________________________________

In [28]:
# make class predictions with the model
import numpy as np
predictions = model.predict_classes(X_array)

In [29]:
# summarize the first 5 cases
for i in range(5):
	print('%s => %d (expected %d)' % (X_array[i].tolist(), predictions[i], y[i]))

[3.0, 1.0, 7.25, 1.0, 0.0, 1.0] => 0 (expected 0)
[1.0, 1.0, 71.2833, 0.0, 0.0, 0.0] => 1 (expected 1)
[3.0, 0.0, 7.925, 0.0, 0.0, 1.0] => 1 (expected 1)
[1.0, 1.0, 53.1, 0.0, 0.0, 1.0] => 1 (expected 1)
[3.0, 0.0, 8.05, 1.0, 0.0, 1.0] => 0 (expected 0)